
		* {
			box-sizing: border-box;
			margin : 10px;
			padding: 10px;
			/*overflow: auto;*/
		}
		h1 {
			color: red;
			font-size:36px;
			text-align:center;
			border-top-right-radius: 50%;
		}
		p {
			margin:0px;
			box-sizing: border-box;
			width :50%;
			border:1px dotted yellow ;
			float :left;
		}
		#praneet{
			color:green;
			background-color: yellow;
			text-align: center;
			width:450px;
		}
		.google{
			color:#FFFF00;
			background-color: maroon;
			text-align: -left;
			font-style: italic;
			text-transform: capitalize;
			font-weight: 900;

			float: left;
		}
		.circle{
			height:200px;
			width:200px;
			border-radius: 50%;
		}
		.linear{
			background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
			float:left;
		}
		.radial{
			background: radial-gradient(red,yellow,blue);
			float:left;
		}
		.conic{
			background: conic-gradient(red,yellow,blue);
			float:left;
		}
		.transition{
			clear:left;
			height:200px;
			width: 200px;
			background:aquamarine;
/*			transition: width 1s;
			transition: height 1s;*/
			transition-duration: 5s;
			transition-timing-function: cubic-bezier(0.25,0.25,1,0.25);
		}
		.transition:hover{
			width:400px;
			/*height:400px;*/
		}
		.transform{
			background: aqua;
			transform:rotate(20deg);
		}
		.rotate:hover{
			transition-duration: 2s;
			transform: rotateX(360deg);
			/*transform: translate3d(x,y,z);*/
		}
		.animie{
			width:100px;
			height:100px;
			background: red;
			position:relative;
			animation-name: first;
			animation-duration:3s;
			animation-delay: 0s;
			animation-fill-mode:both;
			animation-iteration-count: infinite;
		}
		@keyframes first{
			0% {background-color: :red;}
			25% {background-color: yellow;}
			  50%  {background-color:blue;}
			  75%  {background-color:green;}
			  100% {background-color:red;}
		}
		section li:nth-child(odd):hover{font-size:24px;}
		@media (orientation:landscape){
			#praneet{
			color:yellow;
			background-color: maroon;
			text-align: center;
			width:450px;
			float:left;
			}
		}
	  li { 
     display: list-item !important;
 }
 table{
 	border:2px solid black;
 }
 tr ,td {
 	border:1px solid black;
 }
 a:link{
 	background: red;
 	text-decoration: none;
 }
 a:visited{
 	background: yellow;
 	color:red;
 	text-decoration: none;
 }
 