
		* {
			box-sizing: border-box;
			margin : 10px;
			padding: 10px;
			overflow: auto;
		}
		h1 {
			color: red;
			font-size:36px;
			text-align:center;
		}
		p {
			margin:0px;
			box-sizing: border-box;
			width :50%;
			border:1px dotted yellow ;
			float :left;
		}
		#praneet{
			color:green;
			background-color: yellow;
			text-align: center;
			width:450px;
		}
		.google{
			color:#FFFF00;
			background-color: maroon;
			text-align: -left;
			font-style: italic;
			text-transform: capitalize;
			font-weight: 900;

			float: left;
		}
		section li:nth-child(odd):hover{font-size:24px;}
		@media (orientation:landscape){
			#praneet{
			color:yellow;
			background-color: maroon;
			text-align: center;
			width:450px;
			float:left;
			}
		}
	  li { 
     display: list-item !important;
 }
 table{
 	border:2px solid black;
 }
 tr ,td {
 	border:1px solid black;
 }
 marquee.onmouseover {
 	scrollamount:5;
 }
 a:link{
 	background: red;
 	text-decoration: none;
 }
 a:visited{
 	background: yellow;
 	color:red;
 	text-decoration: none;
 }