body {
	background-color:#61122f;
	box-sizing: border-box;
}

/**Header**/
#header-nav {
	background-color: #f6b319;
}

#logo-img {
	background:url(../images/KSN.jpeg) no-repeat green;
	border:1px solid green;
	width:150px;
	height:150px;
	margin:10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	color:#557c3e;
	font-size: 2em;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height:  .75;
}

.navbar-brand a:hover,.navbar-brand a:active {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid maroon;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: maroon;
  text-align: center;
}
#nav-list a:hover,#nav-list a:active {
  color:#fff;
  background:maroon;
}

#nav-list a span {
  font-size: 1.8em;
}

a button{
	background-color: inherit;
	color:inherit;
	border:none;
	text-decoration: none;
}
/******header end************/
/*********home page**********/

#call-btn{
	margin:10px;
}

#call-btn > a {
  font-size: 1.5em;
  display: block;
  margin: 0 20px;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #f6b319;
  color: #951c49;
}

#pricetile{
	background: url("../images/mango.jpg") no-repeat;
	height:300px;
	width:100%;
	margin:0px;
	border: 2px solid #3F0C1F;
	background-position: center;
	position: relative;
}

#maptile{
	height:300px;
	width:100%;
	overflow:hidden;
	margin:0px;
	border: 2px solid #3F0C1F;
	position: relative;
}

#pricetile span,#maptile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8
}

#pricetile:hover ,#maptile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

marquee {
	margin-top: 10px;
	color:#fff;
	height:2em;
	font-size: 2em;
	font-stretch: expanded;
	scrollamount: 100;
}
/*********home end***********/
/*********About**************/
h1{
	color:#fff;
}
#aboutp{
	color:#fff;
	font-size:1.2em;
}
/********footer*************/
#footer{
	position:absolute;
	bottom:0;
	width:100%;
}
.panel-footer{
	background-color: #222;
	color:#fff;
	width:100%;
}
@media(min-width: 968px){
	.navbar-brand{
		margin-top: 25px;
	}
	.navbar-brand h1{
		font-size:3em;
	}
}
@media (max-width: 768px)
{
	.navbar-brand h1{
		font-size: 6vw;
	}
}
.search {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: #242628;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  float:left;
}
.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #56fe00;
  transition: all 0.5s ease;
}
.search.open {
  width: 420px;
}
.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}
.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 40px;
}
.search-box:focus {
  outline: none;
}
.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}
.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #56fe00;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -2px;
  top: 30px;
  display: block;
  background-color: #56fe00;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: #56fe00;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 22px;
  top: 23px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 22px;
  top: 13px;
  height: 18px;
}
#s{
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: #242628;
  position: relative;
  overflow: hidden;
  color:#fff;
  float:left;
}
.display{
  display: none;
}
table{
	clear :both;
	color:#fff;
	width:80%;
	/*border:1px solid green;*/
}
th{
	font-size: 5vw;
}
td{
	padding-top: 10px;
	font-size: 3vw;
}
